<div class="front-page">

<% if @posts.count==0 %>
  <div id="no_posts">No posts.</div>
<% else %>


<% @posts.each{|p| %>
   <%=render 'posts/details', post: p%>
<% } %>


<%=render 'time_footer'%>


<% end %>
</div>
