# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure your secret_key_base is kept private
# if you're sharing your code publicly.
GrantbBlog::Application.config.secret_key_base = 'a9fc1b3102379d7058eafff8267c1d852843175d968c11d566f8afc59e5b6d3cd8863d6b629dc83d4ff3e07a687dbb6997cd1e3874fe8dfdfa431919b6c87607'
