<div class="post">
	<h1><%=link_to @post.headline_as_html.html_safe, @post.pretty_path%></h1>
	<div class="wrap">
		<div class="small-text dateline">
			<span class="published_at"><%=numeric_date_and_time(@post.published_at)%></span>
			<% if @post.tags.size > 0 %>
				&mdash;
				<% @post.tags.each{|t| %>
					<div class="tag"><%=link_to t.name,t.path%></div>
				<% } %>
			<% end %>
		</div>
		<div class="content"><%=@post.content_as_html.html_safe%></div>
	</div>
</div><!--post-->
