<%
def post_row p
  <<ROW
	<tr>
		<td class="left">#{link_to p.headline, admin_post_path(p)}</td>
		<td>#{link_to "edit", edit_admin_post_path(p)}</td>
		<td class="date">#{pretty_short_date(p.published_at)}</td>
		<td class="date">#{pretty_short_date(p.updated_at)}</td>
		<td class="date right">#{pretty_short_date(p.created_at)}</td>
	</tr>
ROW
end
%>

<h2>Post management</h2>

<p><%= link_to "New post", new_admin_post_path %></p>

<table id="posts_tbl">
	<tr>
		<th>Headline</th>
		<th>&nbsp;</th>
		<th>Published</th>
		<th>Updated</th>
		<th>Created</th>
	</tr>
<% @draft_posts.each {|p| %>
  <%=post_row(p).html_safe%>
<% } %>
<% @published_posts.each {|p| %>
  <%=post_row(p).html_safe%>
<% } %>
</table>
