development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: grantbblog_dev
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

test: &test
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: grantbblog_test
  pool: 5
  username: root
  password:
  socket: /tmp/mysql.sock

#production:
#  adapter: mysql2
#  encoding: utf8
#  reconnect: false
#  database: grantbblog_prod
#  pool: 5
#  username: root
#  password:
#  socket: /tmp/mysql.sock



cucumber:
  <<: *test
