<%
fields = [
  ["Headline",@post.headline],
  ["Nice URL", @post.nice_url || "- -"],
  ["Published at",@post.published_at.to_s],
  ["Created at",@post.created_at.to_s],
  ["Updated at",@post.updated_at.to_s],
  ["Tags",@post.tags_as_string],
  ["Content",@post.content_as_html.html_safe],
]
%>


<div class="field_list">

<% fields.each{|f| %>
  <% val = f[1] %>
  <% val = "&nbsp;".html_safe if f[1].strip.empty? %>
<div class="field">
<div class="label"><%=f[0]%></div>
<div class="value"><%=val%></div>
</div>
<% } %>

</div>
