<%
def post_row p
  <<ROW
	<tr>
		<td class="left">#{link_to p.headline, admin_post_path(p), class: "showlink" }</td>
		<td class="button">#{link_to "public", p.pretty_path, class: "button" }</td>
		<td class="button">#{link_to "edit", edit_admin_post_path(p), class: "button" }</td>
		<td>#{numeric_short_date(p.published_at)}</td>
		<td>#{numeric_short_date(p.created_at)}</td>
		<td class="button right">#{link_to "delete", delete_admin_post_path(p), class: "button" }</td>
	</tr>
ROW
end
%>

<div class="op_bar"><%= link_to "Create a new post", new_admin_post_path %></div>

<% if @draft_posts.count + @published_posts.count < 1 %>

<center><p>There are no posts.</p></center>

<% else %>

<table id="items_tbl">
	<tr>
		<th>Headline</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>Published</th>
		<th>Created</th>
		<th>&nbsp;</th>
	</tr>
<% @draft_posts.each {|p| %>
  <%=post_row(p).html_safe%>
<% } %>
<% @published_posts.each {|p| %>
  <%=post_row(p).html_safe%>
<% } %>
</table>

<% end %>
