<%
def post_row p
  <<ROW
	<tr>
		<td class="left">#{link_to p.headline, admin_post_path(p), class: "headline" }</td>
		<td>#{link_to "edit", edit_admin_post_path(p), class: "edit" }</td>
		<td class="date">#{pretty_short_date(p.published_at)}</td>
		<td class="date">#{pretty_short_date(p.updated_at)}</td>
		<td class="date right">#{pretty_short_date(p.created_at)}</td>
	</tr>
ROW
end
%>

<div class="new_thing"><%= link_to "Create a new post", new_admin_post_path %></div>

<% if @draft_posts.count + @published_posts.count < 1 %>

<center><p>There are no posts.</p></center>

<% else %>

<table id="posts_tbl">
	<tr>
		<th>Headline</th>
		<th>&nbsp;</th>
		<th>Published</th>
		<th>Updated</th>
		<th>Created</th>
	</tr>
<% @draft_posts.each {|p| %>
  <%=post_row(p).html_safe%>
<% } %>
<% @published_posts.each {|p| %>
  <%=post_row(p).html_safe%>
<% } %>
</table>

<% end %>
