<div id="list_index">
<h1>Tags index</h1>

<table id="posts_tbl">
	<thead>
		<tr>
			<th>Tag</th>
			<th>#&nbsp;posts</th>
		</tr>
	</thead>
	<tbody>
<% @tags.each {|t| %>
		<tr>
			<td><%=link_to t.name, t.path%></td>
			<td class="center"><%=t.count%></td>
		</tr>
<% } %>
	</tbody>
</table>
</div>

