<div id="list_index">
<h1>Posts tagged "<%=@name%>"</h1>

<%if @tag==nil || @tag.posts.published.count < 1 %>
  <div id="no-posts-with-tag">None.</div>

<%else%>

<table>
	<tr>
		<th>Headline</th>
		<th>Published</th>
	</tr>
<% @tag.posts.published.order(:published_at).reverse_order.each {|p| %>
	<tr>
		<td><%=link_to p.headline, p.pretty_path%></td>
		<td><%=p.short_pub_date%></td>
	</tr>
<% } %>

<%end%>

</table>

</div>

