<table id="posts_tbl">
	<tr>
		<th>Headline</th>
		<th>Published</th>
	</tr>
<% @posts.each {|p| %>
	<tr>
		<td><%=link_to p.headline, p%></td>
		<td><%=p.published_at%></td>
	</tr>
<% } %>
</table>

