<div id="list_index">
<h1>Archive of past posts</h1>

<table id="posts_tbl">
	<tr>
		<th>Headline</th>
		<th>Published</th>
	</tr>
<% @posts.each {|p| %>
	<tr>
		<td><%=link_to p.headline, p.pretty_path%></td>
		<td><%=p.published_at%></td>
	</tr>
<% } %>
</table>
</div>
