<table id="posts_tbl">
	<tr>
		<th>Headline</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
<% @posts.each {|p| %>
	<tr>
		<td><%=p.headline%></td>
		<td><%=p.created_at%></td>
		<td><%=p.updated_at%></td>
	</tr>
<% } %>
</table>

