<div id="list_index">
<h1>Archive of past posts</h1>

<table id="items_tbl">
	<thead>
		<tr>
			<th>Headline</th>
			<th>Published</th>
		</tr>
	</thead>
	<tbody>
<% @posts.each {|p| %>
		<tr>
			<td><%=link_to p.headline_as_html.html_safe, p.pretty_path%></td>
			<td class="center"><%=numeric_short_date(p.published_at)%></td>
		</tr>
<% } %>
	</tbody>
</table>
</div>
