$fg-color: #1fbd43;

body.adminbody {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	background-color: black;
	color: $fg-color;

	a { color: $fg-color; }
	a:visited { color: $fg-color; }
	a:hover { color: white; }
}


