$fg-color: #1fbd43;
$danger-color: #ff3333;
$header-size: 20px;
$regular-size: 14px;

@mixin boxylink($padding) {
	display: inline-block;
	border: solid 1px $fg-color;
	text-decoration: none;
	padding: $padding;
	background-color: black;
	color: $fg-color;
}
@mixin boxylink_hover {
	color: black;
	background-color: $fg-color;
}

@mixin forminput {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	border: 1px solid $fg-color;
	background-color: #202620;
	color: $fg-color;
	font-size: $regular-size;
}

@mixin fieldheader {
	font-weight: bold;
	width: 150px;
	text-align: right;
	float: left;
	margin-right: 10px;
}

@mixin fieldvalue {
	width: 600px;
	text-align: left;
}

body.adminbody {

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: $regular-size;

	background-color: black;
	color: $fg-color;

	hr {
		background-color: $fg-color;
		border-width: 0;
		height: 1px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.alert {
		color: #FFFF88;
		background-color: black;
		border: 1px solid #FFFF88;
		padding: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.alert-error {
		color: red;
		background-color: black;
		border: 1px solid red;
		padding: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	#form-errors {
		color: red;
	}

	input[type=submit] {
		font-size: $regular-size;
		@include boxylink(10px);
	}
	input[type=submit]:hover {
		@include boxylink_hover();
		cursor: pointer;
	}


	a { color: $fg-color; }
	a:visited { color: $fg-color; }
	a:hover { color: black; background-color: $fg-color; }


	div.menu_items {
		text-align: center;
		a { margin: 15px; }
	}
	a.menu_item { @include boxylink(20px); }
	a.menu_item:hover { @include boxylink_hover(); }


	div.op_bar {
		text-align: center;
		margin-bottom: 20px;
		a {
			@include boxylink(10px);
			margin-left: 5px;
			margin-right: 5px;
		}
		a:hover { @include boxylink_hover(); }
	}


	#header-crumbs {
		margin-top: 0;
		margin-bottom: 20px;

		hr {
			margin-top: 5px;
		}

		h1 {
			display: inline-block;
			font-size: $header-size;
			margin: 0 4px 0 0;
	
			a { @include boxylink(20px); }
			a:hover { @include boxylink_hover(); }
		}
	
		h2 {
			display: inline-block;
			font-size: $header-size;
			margin: 0 4px 0 0;
			vertical-align: bottom;

			a { @include boxylink(10px); }
			a:hover { @include boxylink_hover(); }
		}
		h2:before { content: " >> "; }
	
		h3 {
			display: inline-block;
			font-size: $header-size;
			margin: 0;
			padding: 11px 0 11px 0;
			vertical-align: bottom;
		}
		h3:before { content: " >> "; }
	}

	table#posts_tbl {
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;

		a { text-decoration: none; }

		a.headline:hover { background-color: black; color: white; }

		a.button {
			@include boxylink(5px);
			padding-left: 10px;
			padding-right: 10px;
		}
		a.button:hover { @include boxylink_hover(); }

		td {
			padding: 5px 15px 5px 15px;
			border-top: solid 1px $fg-color;
		}

		td.left { padding: 5px 15px 5px 5px; }
		td.right { padding: 5px 5px 5px 15px; }
		td.date { text-align: center; }
	}

	.field_list {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		div.field {
			margin-bottom: 10px;

			// for show pages
			div.label { @include fieldheader(); }
			div.value { @include fieldvalue(); }

			// for edit pages
			label { @include fieldheader(); }
			input {
				@include fieldvalue();
				@include forminput();
			}
			textarea {
				@include fieldvalue();
				@include forminput();
				height: 400px;
			}
		}

		div.action {
			text-align: right;
			margin-top: 40pt;
			input {
				@include boxylink(10px);
				font-size: $regular-size;
			}
			input:hover { @include boxylink_hover(); }
		}
	}

	.danger {
		color: $danger-color;

		a {
			color: $danger-color !important;
			border-color: $danger-color !important;
		}
		a:visited { color: $danger-color; }
		a:hover {
			color: black !important;
			background-color: $danger-color !important;
		}

		input[type=submit] {
			color: $danger-color;
			border-color: $danger-color;
		}
		input[type=submit]:hover {
			color: black;
			background-color: $danger-color;
			border-color: $danger-color;
		}
	}
}


