body#blogbody {

	background-image: url("/bg/pigeons.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	div.content {
		width: 100%;
		min-width: 800px;
		margin: 100px auto 0 auto;

		div.main_wrap {
			float: left;
			margin-right: -300px;
			width: 100%;

			div.main {
				margin-right: 300px;
			}

		}

		div.sidebar_wrap {
			float: right;
			width: 250px;
			margin: 0 50px 0 auto;

			div.sidebar {
				background-color: rgba(0,0,0,0.8);
				color: white;

				h1 {
					font-size: 28pt;
					text-align: center;
					margin: 0 0 10px 0;
				}

				hr { width: 50px; }
			}
		}
	}


	div#no_posts {
		background-color: white;
		color: black;
		width: 400px;
		height: 400px;
		line-height: 400px;
		text-align: center;
		font-weight: bold;
		font-size: 24pt;
	}


	div.post {
		border: white 1px solid;
		background-color: rgba(255,255,255,0.6);
		color: black;

		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;

		width: 80%;

		div.headline {}
		div.byline {}
		div.published_at {}
		div.updated_at {}
		div.created_at {}
		div.content {}
	}

}

