$regular-size: 16px;
$small-size: 13px;
$sidebar_width: 300px;
$main_margin_right: $sidebar_width+20;
$main_width: 80%;
$fg-color: #1fbd43;

$monospace: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;


@mixin dark-scheme {
	background-color: rgba(0,0,0,0.8);
	color: white;
	a { color: #aabbff; }
	a:visited { color: #ddddff; }
	a:hover { color: #dd99dd; }
}

@mixin light-scheme {
	background-color: rgba(255,255,255,0.8);
	color: black;
	border: white 1px solid;
	a { color: #0000cc; }
	a:visited { color: #7700cc; }
	a:hover { color: #cc0000; }
}

@mixin error-scheme {
	padding: 20px;
	background-color: black;
	border: solid 1px red;
	color: red;
	font-weight: bold;
	font-size: $regular-size + 2;
}

body.public-default {

	#platform-notice,
	#userbox {
		font-family: $monospace;
	}


	background-color: black;
	color: #1fbd43;
	font-family: sans-serif;

	padding-top: 5px;
	padding-left: 30px;
	padding-right: 30px;

	.alert {
		color: black;
		background-color: yellow;
		border: 1px solid black;
		padding: 10px;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.alert-error {
		color: black;
		background-color: red;
		border: 1px solid black;
		padding: 10px;
		margin-bottom: 10px;
		font-weight: bold;
	}


	div.masthead {
		font-family: $monospace;
		h1 {
			padding: 0;
			margin: 0;
			font-size: 20px;

			a, a:visited { text-decoration: none; color: $fg-color; }
			a:hover { color: white; }
		}
		div {
			font-size: 12px;
			margin-top: 3px;
		}
		.hi { color: lime; }

		margin-bottom: 40px;
	}


	div#login-form-container {
		width: 200px;
		margin-left: auto;
		margin-right: auto;

		border: solid 1px $fg-color;
		text-align: center;

		form {
			display: inline-block;
			padding: 10px 20px;

			.control-group {
				margin-bottom: 10px;
			}
		}
	}


	div#no_posts {
		@include error-scheme();
	}

	div#invalid_item {
		@include error-scheme();
	}


	div.yieldbox {
		float: left;
		max-width: 600px;
	}

	div.sidebar {
		float: left;
		width: 200px;
		margin-left: 80px;

		div.contact {
			text-align: center;
			border: 4px double $fg-color;
			color: $fg-color;
			padding: 5px;
			padding-bottom: 10px;
			margin-bottom: 30px;

			font-family: $monospace;
			font-size: 12px;

			a, a:visited { text-decoration: none; color: $fg-color; }
			a:hover { color: white; }

			h1 {
				padding: 0;
				margin: 0;
				font-size: 20px;
			}

			div {
				margin-top: 10px;
			}
		}

		div.navigate {
			text-align: center;
			border: 1px solid $fg-color;
			color: $fg-color;
			padding: 5px;
			padding-bottom: 10px;
			margin-bottom: 30px;

			font-family: $monospace;
			font-size: 12px;

			a, a:visited { color: $fg-color; }
			a:hover { color: white; }

			h1 {
				padding: 0;
				margin: 0;
				font-size: 20px;
			}

			div {
				margin-top: 10px;
			}

		}

	}


	div.post {
		border: $fg-color 1px solid;
		padding: 5px;
		margin-bottom: 60px;

		h1 {
			font-size: $regular-size + 6;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
		div.published_at {
			font-size: $small-size;
		}
		div.updated_at { display: none; }
		div.created_at { display: none; }
		div.content {}
		div.permalink {
			font-size: $small-size;
		}

		div.tags {
			font-size: $small-size;
			div.tag {
				display: inline-block;
				margin-left: 2px;
				margin-right: 2px;
			}
		}
	}

	div#list_index {
		@include dark-scheme();
		border: 1px solid white;
		padding: 5px 5px 15px 5px;
		margin-bottom: 20px;

		h1 {
			font-size: $regular-size + 4;
			font-weight: bold;
			margin: 0 0 20px 0;
			padding: 0;
		}
	}

}

