$regular-size: 14px;
$small-size: 11px;

$main-color: #1fbd43;
$hi-color: lime;
$content-text-color: #cccccc;
$content-visited-color: #8DB997;

$nav-color: #1fbd43;

$monospace: Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;


@mixin dark-scheme {
	background-color: rgba(0,0,0,0.8);
	color: white;
	a { color: #aabbff; }
	a:visited { color: #ddddff; }
	a:hover { color: #dd99dd; }
}

@mixin error-scheme {
	padding: 20px;
	background-color: black;
	border: solid 1px red;
	color: red;
	font-weight: bold;
	font-size: $regular-size + 2;
}



body.public-default {
	background-color: black;
	color: $main-color;

	h1 { margin: 0; padding: 0; }
	.small-text { font-size: $small-size; }
	.hi { color: $hi-color; }


	#platform-notice,
	#userbox {
		font-family: $monospace;
	}


	padding-top: 5px;
	padding-left: 30px;
	padding-right: 30px;

	.alert {
		color: black;
		background-color: yellow;
		border: 1px solid black;
		padding: 10px;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.alert-error {
		color: black;
		background-color: red;
		border: 1px solid black;
		padding: 10px;
		margin-bottom: 10px;
		font-weight: bold;
	}


	div.masthead {
		font-family: $monospace;
		h1 {
			font-size: 20px;

			a, a:visited { text-decoration: none; color: $main-color; }
		}
		div {
			font-size: 12px;
			margin-top: 3px;
		}

		margin-bottom: 40px;
	}


	div#login-form-container {
		width: 200px;
		margin-left: auto;
		margin-right: auto;

		border: solid 1px $main-color;
		text-align: center;

		form {
			display: inline-block;
			padding: 10px 20px;

			.control-group {
				margin-bottom: 10px;
			}
		}
	}


	div#no_posts {
		@include error-scheme();
	}

	div#invalid_item {
		@include error-scheme();
	}


	div.yieldbox {
		float: left;
		max-width: 600px;

		font-size: $regular-size;
		color: $content-text-color;

		a { color: $main-color; }
		a:visited { color: $content-visited-color; }
		a:hover { color: $hi-color; }
	}

	div.sidebar {
		float: left;
		width: 200px;
		margin-left: 80px;

		div.contact {
			text-align: center;
			border: 4px double $main-color;
			color: $main-color;
			padding: 5px;
			padding-bottom: 10px;
			margin-bottom: 30px;

			font-family: $monospace;
			font-size: 12px;

			h1 {
				font-size: 20px;
			}

			div {
				margin-top: 10px;
			}

			a, a:visited { color: $main-color; }
			a:hover { color: white; }
		}

		div.navigate {
			text-align: center;
			xborder: 1px solid $nav-color;
			color: $nav-color;
			padding: 5px;
			padding-bottom: 10px;
			margin-bottom: 30px;

			font-family: $monospace;
			font-size: 12px;

			a, a:visited { color: $nav-color; }
			a:hover { color: white; }

			h1 {
				font-size: 20px;
			}

			div {
				margin-top: 10px;
			}

		}

	}


	div.post {
		border: $main-color 1px solid;
		margin-bottom: 60px;

		.dateline { color: $main-color; }

		h1 {
			font-size: $regular-size + 8;
			font-weight: bold;
			background-color: #116926;
			color: black;
			font-family: $monospace;
			padding: 5px;
			margin-bottom: 2px;
		}

		div.tag {
			display: inline-block;
			margin-left: 2px;
			margin-right: 2px;
		}

		div.wrap {
			margin: 0 5px 5px 5px;
		}
	}

	div#list_index {
		@include dark-scheme();
		border: 1px solid white;
		padding: 5px 5px 15px 5px;
		margin-bottom: 20px;

		h1 {
			font-size: $regular-size + 4;
			font-weight: bold;
			margin: 0 0 20px 0;
		}
	}

}

