$sidebar_width: 300px;
$main_margin_right: $sidebar_width+20;
$main_width: 80%;

@mixin dark-scheme {
	background-color: rgba(0,0,0,0.8);
	color: white;
	a { color: #aabbff; }
	a:visited { color: #ddddff; }
	a:hover { color: #dd99dd; }
}

@mixin light-scheme {
	background-color: rgba(255,255,255,0.6);
	color: black;
	a { color: #0000cc; }
	a:visited { color: #7700cc; }
	a:hover { color: #cc0000;; }
}

@mixin error-scheme {
	padding: 20px;
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 20pt;
}

body.blogbody {

	background-image: url("/bg/pigeons.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	margin-top: 50px;


	div.content {
		width: 100%;

		div.sidebar {
			position: absolute;
			right: 20px;
			width: $sidebar_width;
	
			div.about {
				@include dark-scheme();
				padding: 5px 5px 15px 5px;
				margin-bottom: 20px;
	
				text-align: center;

				h1 {
					font-size: 26pt;
					text-align: center;
					margin: 0 0 10px 0;
				}
	
				hr { width: 50px; }
			}
		}

		div.main_wrap {
			float: left;
			margin-right: -1 * $main_margin_right;
			width: 100%;

			div.main_wrap2 {
				margin-right: $main_margin_right;

				div.main {
					width: $main_width;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	div#no_posts {
		@include error-scheme();
	}

	div#invalid_post {
		@include error-scheme();
	}

	div.post {
		@include light-scheme();
		border: white 1px solid;

		padding: 5px;
		margin-bottom: 80px;

		h1 {
			font-size: 20pt;
			font-weight: bold;
			margin: 0;
			padding: 0;
		}
		div.published_at {
			font-size: 8pt;
		}
		div.updated_at { display: none; }
		div.created_at { display: none; }
		div.content {}
		div.permalink { font-size: 10pt; }
	}

	div#posts_index {
		@include dark-scheme();
		border: 1px solid white;
		padding: 5px 5px 15px 5px;
		margin-bottom: 20px;

		h1 {
			font-size: 20pt;
			font-weight: bold;
			margin: 0 0 20px 0;
			padding: 0;
		}
	}

	div#prev_next {
		@include dark-scheme();
		border: 1px solid white;
		padding: 10px;
		font-size: 10pt;

		div.prev_content:before { content: "<< " }
		div.prev {
			float: left;
			width: 30%;
			text-align: left;
		}

		div.next_content:after { content: " > >" }
		div.next {
			float: right;
			width: 30%;
			text-align: right;
		}

		div.archive {
			text-align: center;
		}
	}
}

