#userbox {
  border: 2px solid green;
  width: 200px;
  color: green;
  position: absolute;
  right: 1px;
  top: 1px;
}

.alert {
  background-color: yellow;
}

.alert-error {
  background-color: red;
}

