$padding: 5px;

#userbox {
	z-index: 1000;
	position: fixed;
	right: 0px;
	top: 0px;
	border: 2px solid green;
	background-color: rgba(200,255,200,0.8);
	color: black;
	font-weight: bold;
	padding: $padding;

	a { color: black; }
	a:visited { color: black; }
	a:hover { color: red; }

	div.userline {
		margin-right: 100px;
	}

	div.command {
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	div.logout {
		position: absolute;
		right: $padding;	
		top: $padding;
		text-align: right;
	}
}

.alert {
	background-color: yellow;
}

.alert-error {
	background-color: red;
}

