<%
fields = [
  ["Username",@user.username],
  ["First Name", @user.first_name],
  ["Last Name",@user.last_name],
]
%>


<div class="field_list">

<% fields.each{|f| %>
  <% val = f[1] %>
  <% val = "&nbsp;".html_safe if f[1].strip.empty? %>
<div class="field">
<div class="label"><%=f[0]%></div>
<div class="value"><%=val%></div>
</div>
<% } %>

</div>
