<%
fields = [
  ["Username",@user.username],
  ["First Name", @user.first_name],
  ["Last Name",@user.last_name],
]
%>


<div class="field_list">

<% fields.each{|label,value| %>
  <div class="field">
    <div class="label"><%=label%></div>
    <div class="value"><%=nnne(value).html_safe%></div>
  </div>
<% } %>

</div>
